*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: #fff;
    padding: 50px;
    width: 1100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 70px;

}
.circle{
    width: 180px;
    height: 180px;
    background-color: rgb(187, 247, 98);
    border-radius: 50%;
}
.square{
    width: 180px;
    height: 180px;
    background-color: rgb(255, 255, 35);
}
.triangle{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 180px solid orange;
}
.pentagon{
    width: 180px;
    height: 180px;
    background-color: darkblue;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.plus{
    width: 180px;
    height: 180px;
    background-color: black;
    position:absolute;
    left: 80px;
    top: 420px;
}
.plus::before{
    width: 180px;
    height: 30px;
    background-color: black;
    left: 60px;
}
.parallelogram{
    width:180px;
    height:180px;

    background:#c26ce8;

    transform:skew(20deg);
}
.arrow-up{
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 180px solid #ff5733;
}
    --x1ji1vbh: 6px;
    --x1oenytr: 4px;
    --x1mwufea: 8px;
    --x12tkvam: 12px;
    --xtymr81: 16px;
    --x1cchj8c: 9999px;
    --x1k7owy0: 12px;
    --x29i84u: 12px;
    --x1c983hf: 16px;
    --xtggeuw: 24px;
    --xmbptrk: initial;
    --x1ohpzcg: initial;
    --x1uwd1d6: initial;
    --xfqksvz: initial;
    --xihvkld: initial;
    --x4hezqk: initial;
    --x1ocn4oh: initial;
    --xchemzi: initial;
    --xi33d4w: initial;
    --x1dhaoky: initial;
    --x1maigf0: initial;
    --xr7q9zi: initial;
    --x8ziph4: initial;
    --xn0r6qy: initial;
    --x3feg2x: initial;
    --x1pki0o8: initial;
    --x1735g3x: initial;
    --xub82ts: initial;
    --x1xq5mgg: initial;
    --x1getfyd: initial;
    --xgksvxh: initial;
    --x2em15e: initial;
    --x1x61wad: initial;
    --xlv8j6w: initial;
    --xldwcu1: initial;
    --xs10nhl: initial;
    --xi99wm0: initial;
    --x1h6imwf: initial;
    --xctgemq: initial;
    --x1701io7: initial;
    --x1ae5sig: initial;
    --x11upyvn: initial;
    --x1fh7jof: initial;
    --xe9l79n: initial;
    --x1ys0uy7: initial;
    --x12g387: initial;
    --x1i4z4r9: initial;
    --x1d14g3u: initial;
    --xstli9h: initial;
    --x1le4i62: initial;
    --x1jhh6sn: initial;
    --xb8sy3z: initial;
    --x1j8lsjo: initial;
    --x1509etf: initial;
    --x1gv02jv: initial;
    --x1ckxg35: initial;
    --xzkqv3r: initial;
    --x1hvhyjv: initial;
    --xnnsip7: initial;
    --x7zx197: initial;
    --xqjd72j: initial;
    --x1oohv4w: initial;
    --xwsneo9: initial;
    --xhrnyfl: initial;
    --x1n0w1n2: initial;
    --x8voyoh: initial;
    --xfp5rmo: initial;
    --xtqk5qf: initial;
    --x1ypgdvh: initial;
    --xb1ns9n: initial;
    --x19j03hc: initial;
    --xjtbb9: initial;
    --xqgoy7p: initial;
    --x1czl7f6: initial;
    --x10nj4v5: initial;
    --x1oz8rqk: initial;
    --xp1m3i3: initial;
    --x1h9ved8: initial;
    --xkdps2a: initial;
    --x1ypwk8g: initial;
    --xdeoihw: initial;
    --x13sna8r: initial;
    --xcsngl3: initial;
    --xxx18mj: initial;
    --x144sta6: initial;
    --x5v5mcb: initial;
    --x1o9ob2h: initial;
    --x1l9nhc0: initial;
    --x1712rmr: initial;
    --xxcpq85: initial;
    --x17hj7hr: initial;
    --x1gpxm7a: initial;
    --x1e5jp8c: initial;
    --x12e5gld: initial;
    --xe4t4ks: initial;
    --xexe073: initial;
    --xhwz8rk: initial;
    --xcyjuxq: initial;
    --x1qvwenz: initial;
    --x16etzo2: initial;
    --x196c6bd: initial;
    --xvpxfxh: initial;
    --xghk4fb: initial;
    --xamkiyi: initial;
    --x13sxe2k: calc(var(--pxInRem)*14);
    --x1eqiqcq: calc(var(--pxInRem)*12);
    --x81x3qc: calc(var(--pxInRem)*16);
    --xr2e19r: calc(var(--pxInRem)*14);
    --xfeklb8: calc(var(--pxInRem)*12);
    --x19annce: calc(var(--pxInRem)*11);
    --xe45gul: 1.1;
    --x1ydrm0: 1.1;
    --x1pyho65: 1.1;
    --xwpb5ur: 1.1;
    --xxe0nxs: 1.25;
    --x1u4ximb: 1.25;
    --xb7gmau: 1.25;
    --xk9tj6y: calc(var(--pxInRem)*24);
    --x80vuql: calc(var(--pxInRem)*20);
    --xfvwz6w: calc(var(--pxInRem)*18);
    --x1utaa4h: 1.5;
    --xnpys73: 1.5;
    --x1rfhv9d: calc(var(--pxInRem)*24);
    --x1mrb239: calc(var(--pxInRem)*22);
    --x1cvtyla: calc(var(--pxInRem)*20);
    --x13p6kcv: calc(var(--pxInRem)*16);
    --xzh6im7: 400;
    --x15obn5c: 400;
    --xe5hjdh: 400;
    --x1vkiro9: 400;
    --xr9pbk5: 400;
    --x14qasz0: 500;
    --x1x7m5v3: 600;
    --x1r8i44f: 600;
    --xrxcj59: 600;
    --xe5z0zg: 700;
    --x11kxbzy: 600;
    --x1gdrzib: 400;
    --x1nm8g8p: 400;
    --x9ov1bz: 400;
    --x5jbqvw: 600;
    --xruqby9: 400;
    --x1ox7uz9: 600;
    --x3v77rj: 400;
    --xu3ytzb: 600;
    --x14nzgof: 600;
    --xelfrtx: 700;
    --x186ib8k: -0.01em;
    --xingkex: -0.01em;
    --x14chomy: -0.01em;
    --x10ldedx: -0.01em;
    --x29yqf9: -0.01em;
    --x182tux3: 0em;
    --x1ygtfyy: 0em;
    --xb6cx71: 0em;
    --x1aknxsh: 0em;
    --x1jd30sa: 0em;
    --xgsy22r: 0.01em;
    --x1hkvagv: 0em;
    --xtshycs: 0em;
    --xw84zwd: 0em;
    --x1gv1l69: 0em;
    --x1k79zlg: 0em;
    --xmcez8l: 0.01em;
    --x4yg50e: initial;
    --x1q7x1et: initial;
    --x1p6elbj: initial;
    --xs397ec: initial;
    --x1rizyex: initial;
    --xfr6trb: initial;
    --xeiw0e7: initial;
    --x1orbj1s: initial;
    --x1lylpwe: initial;
    --x1oy2qqm: initial;
    --xbjfuh6: initial;
    --x1j79xju: initial;
    --xzchd34: initial;
    --xkzww0r: initial;
    --x2iskg5: 8px;
    --x1dk1bjv: calc(var(--pxInRem)*8);
    --pxInRem: 0.1rem;
    --x184wy3g: calc(var(--x2iskg5)*0);
    --xefjx5t: calc(var(--x2iskg5)*0.25);
    --x1myukq3: calc(var(--x2iskg5)*0.5);
    --x1m1mewv: calc(var(--x2iskg5)*1);
    --x13hgcp8: calc(var(--x2iskg5)*1.5);
    --x1p0yksn: calc(var(--x2iskg5)*2);
    --x1jqsb2f: calc(var(--x2iskg5)*3);
    --x1ng6keb: calc(var(--x2iskg5)*4);
    --x16rftm7: calc(var(--x2iskg5)*6);
    --xut6gid: calc(var(--x2iskg5)*8);
    --x1p2i679: calc(var(--x2iskg5)*12);
    --x1k8pq2b: 0px;
    --x1k36r48: 4px;
    --x1pzg684: 6px;
    --x1j20ixd: 8px;
    --x15ipqs3: 10px;
    --x1ojnd5a: 12px;
    --xutg36f: 14px;
    --x7qolnw: 16px;
    --xxhfo10: 20px;
    --x1u09dl2: 24px;
    --xyklsft: 32px;
    --x1otugng: 48px;
    --x1sxtn1u: 64px;
    --x1xs02j3: 96px;
    --xxvllhf: 9999px;
    --xvqfia3: #bbf3f4;
    --xak6q43: #00d9e1;
    --xfs5hye: #00c4cc;
    --x187q0q2: #00afb5;
    --x1wb3ate: #ddf4dd;
    --x1ml2hng: #c3eac4;
    --x8ud89z: #9fdba0;
    --xinf0o3: #61bd62;
    --x139g9wg: #36a138;
    --x1fdyu49: #008009;
    --xzp5hbv: #096d11;
    --x12asjg8: #105b16;
    --x7i8qi7: #16461a;
    --x170xj6g: #133416;
    --x18lnf06: #f1ebff;
    --x1wc4vit: #e7dbff;
    --xwcp051: #d6c2ff;
    --x1mbtmj6: #bc97fc;
    --x1nlkbee: #a370fc;
    --x83u15i: #8b3dff;
    --x3ei05i: #7630d7;
    --x1kllcm4: #612dae;
    --x1p2qls1: #4a2e7e;
    --x17ggeyw: #352459;
    --x1550pbu: #a370fc00;
    --x8dudj6: #a370fc12;
    --x1fnqamo: #a370fc26;
    --xm5efns: #a370fc33;
    --x17ou8h8: #a370fc4d;
    --x1q5uuyr: #a370fc66;
    --x1v7ef4r: #a370fc80;
    --x3cl9g4: #a370fc99;
    --x2j9ggm: #a370fcb2;
    --x16gdyjn: #a370fcdb;
    --xece794: #a370fc;
    --x8usvvl: #fee6e6;
    --xu7q857: #ffd6d8;
    --xpwdw8g: #ffb8bb;
    --xsji45q: #ff8088;
    --x71afjm: #fd4958;
    --xovdx8w: #db142c;
    --xszaol2: #b61629;
    --x1gtg5jq: #911826;
    --xs1fvxd: #721d27;
    --xdku6hb: #501b21;
    --x5r2di1: #e0efff;
    --x1fp5dxs: #cce1ff;
    --xmgi0ws: #a8ccff;
    --xgt4wkt: #6ba9ff;
    --x8r00gu: #3d8bff;
    --xhz7v1: #1a62ff;
    --xsd8ep3: #1854d7;
    --x1ltk7u7: #1846aa;
    --xqumleu: #1d3b7c;
    --xtkmr9a: #182c59;
    --x1f3ged: #ffebd6;
    --x1gx394g: #ffd9ad;
    --xqw9qlb: #fdbd68;
    --x1rttio9: #ec9809;
    --xi7eslk: #d17600;
    --x4fx8zm: #ad5a00;
    --x1ui8vqz: #944f05;
    --x1rmt04w: #75420b;
    --x16b0gy0: #563715;
    --xlrcg92: #3e2a14;
    --xan5p7r: #ffffff00;
    --x12ndjt9: #ffffff12;
    --x1tn4z37: #ffffff26;
    --xtzez9w: #ffffff33;
    --x1o2sfpx: #ffffff4d;
    --x3wq53d: #ffffff66;
    --xtg1s84: #ffffff80;
    --xmmxzbp: #ffffffb2;
    --x1j0kk2i: #ffffffcc;
    --x5k08vn: #ffffffe5;
    --x12mdba4: #fff;
    --x1he0ty3: #f3f4f7;
    --xxszdgs: #e8eaed;
    --xe1tat4: #dddfe4;
    --xwr09nq: #c1c5cd;
    --x1kjb0tk: #8a8f99;
    --x1cw23v0: #606671;
    --xh73vvs: #3e424c;
    --xsmyd4r: #24262e;
    --x10dey3l: #1d1f26;
    --x1c4v2da: #16171d;
    --xkfmrv7: #0f101500;
    --x1lr3apc: #404f6d0f;
    --xskv018: #39466024;
    --x1pipovz: #35415a33;
    --xvrd6w1: #2b354a4d;
    --x1x0aunj: #242c3d66;
    --x17tlq61: #1c213080;
    --x18w5k1x: #13162099;
    --xy77mul: #101219b2;
    --xea3shb: #0f1015d9;
    --x1sddawi: #0f1015;
    --x1rreyzm: calc(var(--pxInRem)*11);
    --x1h6gbg4: calc(var(--pxInRem)*12);
    --xrxq8di: calc(var(--pxInRem)*14);
    --x1o5ka13: calc(var(--pxInRem)*16);
    --xmtiwwe: calc(var(--pxInRem)*18);
    --xl4qh5f: calc(var(--pxInRem)*21);
    --x1mwlchh: calc(var(--pxInRem)*24);
    --x1u1qzto: calc(var(--pxInRem)*28);
    --xw2sqmx: calc(var(--pxInRem)*32);
    --xuumwcw: calc(var(--pxInRem)*36);
    --x130gs7j: calc(var(--pxInRem)*42);
    --xtj2tht: calc(var(--pxInRem)*48);
    --xmytaa6: calc(var(--pxInRem)*56);
    --x1itxcg5: calc(var(--pxInRem)*64);
    --x8c3siz: calc(var(--pxInRem)*72);
    --x10snzim: calc(var(--pxInRem)*84);
    --xovhsx4: calc(var(--pxInRem)*96);
    --x41k82m: calc(var(--pxInRem)*112);
    --x17u4dqp: calc(var(--pxInRem)*16);
    --x1p1hnxq: calc(var(--pxInRem)*18);
    --x1untzc6: calc(var(--pxInRem)*20);
    --xafyip8: calc(var(--pxInRem)*22);
    --x1guay4h: calc(var(--pxInRem)*24);
    --xd716oh: calc(var(--pxInRem)*26);
    --x1foziqp: calc(var(--pxInRem)*28);
    --x1undxh4: calc(var(--pxInRem)*30);
    --x19sr1a9: calc(var(--pxInRem)*32);
    --x17brpvr: 1.1;
    --x1qddp3y: 1.25;
    --x1bv0cwu: 1.4;
    --x1iqqa6w: 1.5;
    --x16vaa1d: 400;
    --x7h0be4: 500;
    --xv8xsz: 600;
    --xo65g8j: 700;
    --x4z8vkv: -0.01em;
    --x5dm08n: 0em;
    --xobjg4s: 0.01em;
    --xmsjtfi: 0ms;
    --x10j30kf: 50ms;
    --x1avgier: 100ms;
    --xnd6t2t: 150ms;
    --xtadk40: 200ms;
    --xml9efs: 250ms;
    --x3rs6ih: 300ms;
    --xabdcz2: 400ms;
    --x1h5xsge: 500ms;
    --x154i0ob: 650ms;
    --xjlle8e: cubic-bezier(0.35,0,0.58,1);
    --xvfbk1y: cubic-bezier(0,0,0.58,1);
    --x1vj5oab: cubic-bezier(0.4,0,1,1);
    --xnjwpvd: cubic-bezier(0,0,1,1);
    --x9k1o7l: cubic-bezier(0.68,0,0.23,1);
    --xcqt3jr: cubic-bezier(0,0,0.13,1);
    --xflm1d4: cubic-bezier(0.65,0,1,1);
    --x1rnwtin: calc(var(--pxInRem)*56);
    --x1r8u9mr: calc(var(--pxInRem)*48);
    --xwkyh5x: calc(var(--pxInRem)*48);
    --x1vq1x3u: calc(var(--pxInRem)*36);
    --x1ep7gg: calc(var(--pxInRem)*32);
    --x5aifln: calc(var(--pxInRem)*48);
    --x10ayf1d: calc(var(--pxInRem)*32);
    --xbsazan: calc(var(--pxInRem)*24);
    --x8ve44d: calc(var(--pxInRem)*18);
    --xg4v1am: calc(var(--pxInRem)*24);
    --x1ae0g3g: calc(var(--pxInRem)*21);
    --x1owzx10: calc(var(--pxInRem)*32);
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
    --safe-area-inset-right: env(safe-area-inset-right);
    color-scheme: var(--tk9EiQ);
    --tk9EiQ: light;
    --iBIYpw: #f3f4f7;
    --Ypt7xQ: #fff;
    --LIE6Cw: #fff;
    --Ps9yUA: #fff;
    --a5p9-A: var(--UT44mA,0px 0px 0px 0.5px #404f6d0f,0px 1px 2px 0px #182c5923,0px 2px 4px 0px #182c5923);
    --galhog: var(--6xzTWQ,0px 0px 0px 0.5px #404f6d0f,0px 2px 4px 0px #182c5923,0px 6px 12px 0px #182c5912);
    --JF44pw: var(--wO93Gg,0px 0px 0px 0.5px #404f6d0f,0px 8px 16px 0px #182c5923,0px 24px 24px 0px #182c5912);
    --A2-tbg: 0px 24px 24px -18px inset #ffffff29,0px 1px 0.5px 0px inset #ffffff40,0px -1px 0.5px 0px inset #151e821f,0px 4px 8px 0px #151e8212,0px 8px 16px 0px #151e8208;
    --gISI6g: 0px 24px 24px -18px inset #ffffff29,0px 1px 0.5px 0px inset #ffffff40,0px -1px 0.5px 0px inset #151e821f,0px 1px 2px 0px #151e8212,0px 3px 4px 0px #151e8208;
    --UT44mA: 0px 0px 0px 0.5px #404f6d0f,0px 1px 2px 0px #151e821f,0px 2px 4px 0px #151e820f;
    --H149Xg: 0px 1px 0.5px 0px inset #ffffff12,0px 0px 0px 0.5px inset #ffffff12,0px 1px 2px 0px #00000036,0px 2px 4px 0px #00000024;
    --6xzTWQ: 0px 0px 0px 0.5px #404f6d12,0px 2px 5px 0px #151e821f,0px 6px 12px 0px #151e820f;
    --IJiH7A: 0px 1px 0.5px 0px inset #ffffff1f,0px 0px 0px 0.5px inset #ffffff1a,0px 2px 5px 0px #00000036,0px 6px 12px 0px #00000024;
    --wO93Gg: 0px 0px 0px 0.5px #404f6d0f,0px 8px 16px 0px #151e821f,0px 24px 24px 0px #151e820f;
    --jpCGOw: 0px 1px 0.5px 0px inset #ffffff1f,0px 0px 0px 0.5px inset #ffffff1a,0px 6px 12px 0px #00000036,0px 24px 24px 0px #00000024;
    --Im6LRw: radial-gradient(ellipse 72% 150% at 50% 100%,var(--Ypt7xQ),rgba(from var(--Ypt7xQ) r g b/0%)),linear-gradient(to bottom,rgba(from var(--Ypt7xQ) r g b/0%) 0%,rgba(from var(--Ypt7xQ) r g b/0%) 9.5%,var(--Ypt7xQ) 94%),linear-gradient(hsla(0,0%,100%,.35),hsla(0,0%,100%,.35)),linear-gradient(hsla(0,0%,100%,.35),hsla(0,0%,100%,.35)),linear-gradient(hsla(0,0%,100%,.1),hsla(0,0%,100%,.1)),linear-gradient(to bottom,rgba(from var(--Ypt7xQ) r g b/0%) 0%,var(--Ypt7xQ) 100%),linear-gradient(to right,#00c4cc 0%,#6f00ff 100%);
    --Kd3K9A: #8b3dff;
    --DVEAGQ: #7630d7;
    --V0s6Og: #612dae;
    --PqRKXQ: #fff;
    --R-jrhg: #0f101500;
    --GXtk9g: #404f6d0f;
    --xGXQgA: #39466024;
    --oAdupw: #0f1015;
    --8-4niA: #35415a33;
    --wd-tZA: #0f101500;
    --ntzWpQ: #404f6d0f;
    --BorQ6g: #39466024;
    --O8dBuQ: #0f1015;
    --EvA8JQ: #13162099;
    --gIrJLw: #101219b2;
    --XxI4hg: #0f1015d9;
    --SvgSpA: #13162099;
    --N8Oz5g: #fff;
    --4zRigw: #ffffffb2;
    --wv7owA: #db142c;
    --m9I-bA: #b61629;
    --Hxdoag: #911826;
    --pxBf3A: #fff;
    --1sn2Sg: #a370fc26;
    --4HnQxA: #a370fc26;
    --NRjSsw: #a370fc33;
    --GviWcg: #4a2e7e;
    --kl47TA: #8b3dff;
    --gFgXSg: #404f6d0f;
    --wBWOJg: #1c213080;
    --BVrlVA: #39466024;
    --KwfPsg: #0f101500;
    --p5yS_g: #1c213080;
    --jz0LSw: #008009;
    --CJur3Q: #fff;
    --UfNqTg: #c3eac4;
    --QcueGQ: #133416;
    --bdtRFA: #1a62ff;
    --YrdGEw: #fff;
    --_bpjsw: #cce1ff;
    --x3uTOw: #182c59;
    --Am6Phw: #ad5a00;
    --X8oIbA: #fff;
    --G_qVww: #ffd9ad;
    --HfWZ1A: #3e2a14;
    --43wRQw: #db142c;
    --9luNoA: #fff;
    --qKGzFw: #ffd6d8;
    --CMMUiA: #501b21;
    --RzZG4Q: #8b3dff;
    --M8YsdQ: #fff;
    --xc412Q: #e7dbff;
    --XZIM8Q: #352459;
    --6Hmmng: #13162099;
    --SxhHZg: #fff;
    --3ifkTA: #fff;
    --W1_3nw: #404f6d0f;
    --igdHlg: #35415a33;
    --IzK8tQ: #1c213080;
    --_kLulA: #1c213080;
    --uHakiw: #8b3dff;
    --TCEPKw: #39466024;
    --BhjlKg: #db142c;
    --j6I-wg: #8b3dff;
    --I7Yc2g: #7630d7;
    --Mm01yw: #612dae;
    --4sJsqA: #39466024;
    --hBXVcA: #fff;
    --xcCO9w: #1c213080;
    --WcghmA: #8b3dff;
    --ezSU3w: #fff;
    --ooFCBA: #c1c5cd;
    --8jnd6g: #8b3dff;
    ---2QwGw: #7630d7;
    --KgLrHA: #612dae;
    --jDAtXQ: #1c213080;
    --FOH6ww: #db142c;
    --jyDisg: #b61629;
    --QclmLg: #911826;
    --VcZbvQ: #0f1015;
    --UpESEg: #0f1015d9;
    --PRQgyw: #101219b2;
    --TJtBjA: #13162099;
    --vCqPYw: #008009;
    --NRkSiw: #db142c;
    --gdRMVA: #1a62ff;
    --cVPmKw: #ad5a00;
    --enMi_w: #39466024;
    --4DkvNQ: #3d8bff;
    --xwa5zw: #39466024;
    --2yga1g: #404f6d0f;
    --0ypBAQ: #35415a33;
    --P1hAvA: #242c3d66;
    --1z_vxQ: #242c3d66;
    --2alkBA: #7630d7;
    --my4kxQ: #612dae;
    --cqM3rg: #4a2e7e;
    --LxYcbA: #b61629;
    --5sVA_A: #911826;
    --o4dMhg: #721d27;
    --9tBeQg: #096d11;
    --PvDwiQ: #1854d7;
    --hwA_Zw: #944f05;
    --hjkJow: #b61629;
    --WPB77g: #7630d7;
    --DVNSrA: #101219b2;
    --RoJ4XQ: 6px;
    --D3shaw: 10px;
    --0iDYqA: 12px;
    --TikWyw: 16px;
    --MztNWw: 24px;
    --aiHVUg: 9999px;
    --u88V_A: 14px;
    --HVI3oQ: 16px;
    --VlSHbw: 20px;
    --t1OTeg: 32px;
    --SxsF8Q: 100dvh;
    --GoAooA: #fcfbfe;
    --Uhgt1Q: #f6f2fd;
    ---mghVQ: linear-gradient(180deg,var(--GoAooA) 0%,var(--Uhgt1Q) 100%);
    --wh70Rg: rgba(74,46,126,.15);
    --P0E6lw: 0px;
    --XalmXw: transparent;
    --5NEHmA: var(--galhog);
    --6wnRSA: rgba(74,46,126,.15);
    --tjxYqQ: none;
    --xpFk1A: #f3f4f7;
    --5QGiVg: calc(var(----lgQg, 0.1rem)*14);
    --R07nfg: calc(var(----lgQg, 0.1rem)*12);
    --__4QUw: calc(var(----lgQg, 0.1rem)*16);
    --ZOMbtg: calc(var(----lgQg, 0.1rem)*14);
    --ylZqXQ: calc(var(----lgQg, 0.1rem)*12);
    --ggP9YA: calc(var(----lgQg, 0.1rem)*11);
    --Csadrg: 1.1;
    --3HwnTg: 1.1;
    --guGCJg: 1.1;
    --Pz31Ow: 1.1;
    --qKnIjA: 1.25;
    --a60EZw: 1.25;
    --KMUE6w: 1.25;
    --VbcScA: calc(var(----lgQg, 0.1rem)*24);
    --0LLpdQ: calc(var(----lgQg, 0.1rem)*20);
    ---eZrnA: calc(var(----lgQg, 0.1rem)*18);
    --Vr1mRA: 1.5;
    --HMj1Lg: 1.5;
    --lQwhPA: calc(var(----lgQg, 0.1rem)*24);
    --X8ysKw: calc(var(----lgQg, 0.1rem)*22);
    --RJKbrQ: calc(var(----lgQg, 0.1rem)*20);
    --xQU-mQ: calc(var(----lgQg, 0.1rem)*16);
    --wczjwA: calc(var(----lgQg, 0.1rem)*56);
    --32-5Rg: calc(var(----lgQg, 0.1rem)*48);
    --q5aPlw: calc(var(----lgQg, 0.1rem)*48);
    --XAu0sw: calc(var(----lgQg, 0.1rem)*36);
    --OJy8Yg: calc(var(----lgQg, 0.1rem)*32);
    --Vf8OSg: calc(var(----lgQg, 0.1rem)*48);
    --A3YTsg: calc(var(----lgQg, 0.1rem)*32);
    --Dynksw: calc(var(----lgQg, 0.1rem)*24);
    --VrAiwg: calc(var(----lgQg, 0.1rem)*18);
    --m8t8Kw: calc(var(----lgQg, 0.1rem)*24);
    --ZYsOLQ: calc(var(----lgQg, 0.1rem)*21);
    --moczTQ: calc(var(----lgQg, 0.1rem)*32);
    --Wc1zKQ: #404f6d0f;
    --YzWWyg: var(--RoJ4XQ);
    --_jnUyQ: var(--B7grUg,#1d1f26);
    --J7DnUA: var(--hy1mNg,inset 0 0 0 1px #ffffff26);
    --nhOmFw: var(--muIXag,#1d1f26);
    --Vo8RGQ: var(---1N6tw,#ffffff26);
    --Lnzn_A: 0.5px;
    --TU_u8Q: #3e424c;
    --hy1mNg: none;
    --NMlSWA: 0px 0.5px 0px 0px inset #ffffff12,0px 0px 0px 0.5px inset #ffffff12;
    --YgtTKg: #3e424c;
    ---1N6tw: transparent;
    --c5Bd7A: #ffffff12;
    --90AHJg: #a370fc26;
    --vfzKoQ: #a370fc26;
    --THdnVA: #39466024;
    --DSDWvg: var(--gISI6g);
    --7f-Aag: var(--A2-tbg);
    --yWxJPw: var(--gISI6g);
    --Q1Vfrw: var(--A2-tbg);
    --M05zEQ: 0 0 0 1px #404f6d0f,0 0 8px 0 #39466024;
    --gzwI8Q: 0 0 0 1px #404f6d0f,0 0 8px 0 #39466024;
    --al4BcQ: 0 0 0 1px #404f6d0f,0 0 8px 0 #39466024;
    --5n3Uvg: 0 0 0 1px #404f6d0f,0 0 8px 0 #39466024;
    --Xj4qXA: 0.07;
    --CAzrpw: 0.025;
    --hnHxIQ: 0 2px 4px -1px #39466024;
    --FzoXNQ: #e8eaed;
    --s2EMVg: #ffffff66;
    --81EgTw: var(--EvA8JQ);
    --1Xz_0w: var(--gIrJLw);
    --CGFmLQ: var(--2yga1g);
    --5OhYmA: var(--xwa5zw);
    --VsFRFg: rgba(64,87,109,.04);
    --ZCxrqQ: -1px;
    --AOtHMg: linear-gradient(to bottom right,#0097a0,#5a32fa,#7d2ae8);
    --91N9zw: #f1ebff;
    --Opux1g: hsla(0,0%,100%,.95);
    --asL7SQ: #ffffffb2;
    --X4WG6g: hsla(0,0%,100%,.95);
    --s9C9sw: var(--9PaHvw,#1d1f26);
    --fxBm1Q: #3e424c;
    --eC9jqg: 0px 1px 0.5px 0px inset #ffffff1f,0px 0px 0px 0.5px inset #ffffff1a,0px 6px 12px 0px #00000036,0px 24px 24px 0px #00000024;
    --W3UCvw: #1c213080;
    --R3SUow: #1c213080;
    --Fim3Aw: #1c213080;
    --pDEiUA: #1c213080;
    --0Nghfg: repeating-linear-gradient(135deg,#00c4cc,#7d2ae8,#00c4cc);
    --jP6cKQ: #fff;
    --4PEc8w: #cee2ff;
    --8twhFg: #dae9ff;
    --B95T_w: 1.0;
    --U2mrHg: 0.7;
    --8Yg6gg: 0.7;
    --XmZqVA: #cee2ff;
    --SYTTzA: #dae9ff;
    --DlcAfQ: 1.0;
    --PRmPWg: 0.7;
    --zKOrEA: 0.7;
    --iFeuNg: #e1e4e7;
    --wlik6g: 0.4;
    --dy3KDw: 0.7;
    --LGUFNA: #e1e4e7;
    --1l4jNQ: 0.4;
    --RY1XQg: 0.7;
    --Kt_WaA: #e8eaed;
    --KcqgXg: #16171d;
    --9v5PLg: linear-gradient(90deg,#00c4cc,#7d2ae8);
    --LsXbHQ: linear-gradient(135deg,#00c4cc,#7d2ae8);
    --U8pJuw: linear-gradient(135deg,#00c4cc,#7d2ae8);
    --0BpVqA: linear-gradient(135deg,#03a5ab,#7d2ae8);
    --dbTMCw: linear-gradient(180deg,#f9f5fe,#f5ffff);
    --mA-7Rw: linear-gradient(90deg,#f1ebff,#e0efff);
    --VrDCOw: #e7dbff;
    --JjceTA: #f1eaff;
    --yjOLvA: #e7dbff;
    --30JFww: #d6c2ff;
    --RVupZA: #d6c2ff;
    --MShPWQ: linear-gradient(to bottom right,#8b3dff,#000);
    --S6hZtg: var(--Kd3K9A);
    --CwvFCw: #d6c2ff;
    --MQ9NTQ: #f1ebff;
    --WRSB_g: #13162099;
    --ipxXkQ: 0 0 0 1px #404f6d0f,0 0 8px 0 #39466024;
    --xbFLow: 0 0 0 1px #404f6d0f,0 0 8px 0 #39466024;
    --hPOfiw: 0 0 0 1px #404f6d0f,0 0 8px 0 #39466024;
    --6WQtqw: 0 0 0 1px #404f6d0f,0 0 8px 0 #39466024;
    --qnQ3hQ: #fff;
    --5jbzZA: rgba(74,46,126,.8);
    --oA_zMQ: #7630d7;
    --PgWbSg: rgba(118,48,215,.1);
    --EBxfFQ: rgba(74,46,126,.8);
    --ZbiU4Q: #612dae;
    --Ie5-Lw: #fff;
    --uj1odA: #f1ebff;
    --gJAqkA: #ffffff80;
    --hDRtwQ: rgba(74,46,126,.8);
    --qmdvjg: #101219b2;
    --fo9YIQ: #fff;
    --0WYuYw: linear-gradient(180deg,#fff 82.43%,#4a53fa 325.99%);
    --b62pXQ: #ddeaf9;
    --tuIkOg: #ebe0fc;
    --mmh7sg: 0px 8px 32px #242c3d66;
    --uz36wg: #2b354a4d;
    --J5qhlg: #242c3d66;
    --sc8YpQ: 0px 0px 1px #404f6d0f,0px 2px 2px #2b354a4d;
    --amxGyw: var(--47wqWw,none);
    --47wqWw: inset 0px 1px 1px 0px #151e820f;
    --hqk4Rw: inset 0px 1px 1px 0px #00000024;
    --tPE5pQ: var(--a5p9-A);
    --Fv8-oA: linear-gradient(to bottom right,#00c4cc,#5a32fa,#7d2ae8);
    --X_Zinw: #d6c2ff;
    --1YuDHg: var(--dbTMCw);
    --W29CtQ: #d6c2ff;
    --tZpEJQ: var(--dbTMCw);
    --rO_HDg: none;
    --kKwG6g: 1;
    --w6kYzg: #0f1015d9;
    --RgtJRw: linear-gradient(90.57deg,#7d2ae8,#5a32fa 10%,#00c4cc 25%,#5a32fa 40%,#7d2ae8 50%,#5a32fa 60%,#00c4cc 75%,#5a32fa 90%,#7d2ae8);
    --XnOF0g: linear-gradient(90deg,hsla(0,0%,100%,0) 0%,#ffffffb2 33%,#ffffffb2 66%,hsla(0,0%,100%,0));
    --lLIt9w: linear-gradient(#fff,#fff) padding-box,var(--U8pJuw) border-box;
    --uhyxCg: #cef3e3;
    --U8KGIQ: #fff;
    --u4r13Q: linear-gradient(180deg,#cef3e3,#fff);
    --tJd7_A: rgba(243,244,247,.5);
    --FLqSXA: #e8eaed;
    --Oj2_Ng: #1d1f26;
    ---fgEEw: #fff;
    --W-poKw: #e8eaed;
    --LBdM3g: #464749;
    --UomnNQ: #464749;
    --fSF1rA: 0.4;
    --m50GxA: #dadadb;
    --lpvUBQ: #d3d3d3;
    --e96txA: url(images/d1320b52e0ab2aa2780bb4e4de838217.png);
    --b_fbig: linear-gradient(33deg,#ec9809 30%,#ffebd6 60%);
    --XnvCFg: #ffffffe5;
    --sFAYCw: #abeeee;
    --Lamnfg: #f1ebff;
    --JtQZIQ: linear-gradient(180deg,#e7dbff,#fff);
    --FSIdxg: #39466024;
    --Xv8SYQ: #e8eaed;
    --8WgTXw: 0 -4px 8px #404f6d0f;
    --Tvynng: #a370fc26;
    --wuYAdg: #a370fc;
    --8BDQwQ: #ffebd6;
    --Q2f31A: #6ba9ff;
    --U4Djhw: #008009;
    --4Epz8Q: #a370fc;
    --6DgMdQ: 0.45;
    --eu46bQ: #39466024;
    font-size: 62.5%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    --DKUNQw: 0px;
    --7wncGQ: 0px;
    --JWOzMg: calc(var(--kdD16A, 100%) - var(--DKUNQw, 0px) - var(--TDHNVg, 0px));
    --zVXDqg: calc(var(--JWOzMg) - var(--7wncGQ, 0px));
    --oyPCMQ: var(--safe-area-inset-top);
    --N1myow: calc(var(--yDy58w, 0px) + var(--safe-area-inset-top));
    --ucH3VQ: calc(var(--TDHNVg, 0px) + var(--safe-area-inset-bottom));
    --dfYVjQ: var(--mAKBrw,0px);
    --iXPLIw: calc(var(--xViRPQ, 100vh) - var(--mAKBrw, 0px) - var(--sKdkgQ, 0px));
    --xViRPQ: 100dvh;
    --TDHNVg: 0px;
    --kdD16A: calc(var(--xViRPQ, 100vh) - var(--yDy58w, 0px) - var(--safe-area-inset-top));
    --INaWhA: calc(var(--zVXDqg) - var(--safe-area-inset-bottom));
    --7IjtqA: calc(var(--yDy58w, 0px) + var(--DKUNQw, 0px) + var(--safe-area-inset-top));
    --qhSPog: calc(var(--yDy58w, 0px) + var(--safe-area-inset-top) + var(--7wncGQ, 0px));
    --yDy58w: 0px;
    --2Rx0Fg: 0px;
    --_tmePg: 0px;
    --Up9NhQ: 0px;
    --ffWMGw: 0px;
    --gms-pw: 0;
    --TPsgaw: var(--K2KHEw);
    --WtUbjw: var(--X15W8A);
    --sW1q4A: var(--Mekl7w);
    --ICTGkg: var(--Mekl7w);
    --Q-8Emw: var(--gms-pw);
    --K2KHEw: var(--Q-8Emw);
    --nz9hsg: var(--TPsgaw);
    --Mekl7w: var(--nz9hsg);
    --JmGtVw: var(--Wk647Q);
    --X15W8A: var(--JmGtVw);
    --PA24dg: var(--KtVHvQ);
    --C1_mkw: var(--PA24dg);
    --RqXq5w: var(--WtUbjw);
    --u2iVmg: var(--RqXq5w);
    --3B6sKw: var(--sW1q4A);
    --oqA4yg: var(--3B6sKw);
    --o5XTkw: var(--ICTGkg);
    --eA7tvg: var(--o5XTkw);
    --Wk647Q: 16px;
    --KtVHvQ: 8px;
    background-color: unset;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: var(--SxQ6Sw);
    --zOX1XQ: var(--s_rwAw);
    --SxQ6Sw: var(--zOX1XQ);
    flex-direction: var(--zyHMJw);
    --wRJ75A: var(--YRbscg);
    --zyHMJw: var(--wRJ75A);
    flex: auto;
    outline: none;
    min-height: 44px;
    overflow: hidden;
    --s_rwAw: flex;
    --YRbscg: column;